<%- include ('../partiel/header') %>

			<div class="section-bgc intro">
				<div class="intro-item intro-item-type-1" style="background-image: url('img/intro-img1.jpg');">
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="intro-content" style="--margin-left: 4rem;">
									<div class="section-heading shm-none">
										<div class="section-subheading">Free template</div>
										<h1>#1 The Fastest HTML5 Template</h1>
										<p class="section-desc">The free template is the simplified version of the premium template, but you can use it for your own purposes. The premium template includes a lot of functionality.</p>
									</div>
									<div class="btn-group intro-btns">
										<a href="/about" class="btn btn-border btn-with-icon btn-small ripple">
											<span>About-us</span>
											<svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
										</a>
										<a href="/formation" class="btn btn-border btn-with-icon btn-small ripple">
											<span>Formations</span>
											<svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<section class="section">
				<div class="container">
					<div class="row">
						<header class="col-12">
							<div class="section-heading heading-center">
								<div class="section-subheading">Areas what we serv</div>
								<h2>Our Services</h2>
							</div>
						</header>
						<div class="col-lg-4 col-md-6 col-12 item">
							<a href="#!" class="iitem item-style iitem-hover">
								<div class="iitem-icon">
									<i class="material-icons material-icons-outlined md-48">corporate_fare</i>
								</div>
								<div class="iitem-icon-bg">
									<i class="material-icons material-icons-outlined">corporate_fare</i>
								</div>
								<h3 class="iitem-heading item-heading-large">Corporate Solution</h3>
								<div class="iitem-desc">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</div>
							</a>
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<a href="#!" class="iitem item-style iitem-hover">
								<div class="iitem-icon">
									<i class="material-icons material-icons-outlined md-48">support_agent</i>
								</div>
								<div class="iitem-icon-bg">
									<i class="material-icons material-icons-outlined">support_agent</i>
								</div>
								<h3 class="iitem-heading item-heading-large">Call Center Solutions</h3>
								<div class="iitem-desc">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it.</div>
							</a>
						</div>
						<div class="col-lg-4 col-md-12 col-12 item">
							<a href="#!" class="iitem item-style iitem-hover">
								<div class="iitem-icon">
									<i class="material-icons material-icons-outlined md-48">cloud_download</i>
								</div>
								<div class="iitem-icon-bg">
									<i class="material-icons material-icons-outlined">cloud_download</i>
								</div>
								<h3 class="iitem-heading item-heading-large">Cloud Development</h3>
								<div class="iitem-desc">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</div>
							</a>
						</div>
						<div class="section-footer col-12 section-footer-animate">
							<div class="btn-group align-items-center justify-content-center">
								<a href="/about" class="btn btn-with-icon btn-w240 ripple">
									<span>See All Services</span>
									<svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			
			<section class="section section-without-padding-bottom">
				<div class="container">
					<div class="row items spincrement-container">
						<div class="col-xl-3 col-md-6 col-12 item">
							<div class="counter-min">
								<div class="counter-min-block">
									<div class="counter-min-ico">
										<i class="material-icons material-icons-outlined md-36">history</i>
									</div>
									<div class="counter-min-numb spincrement" data-from="0" data-to="10">0</div>
								</div>
								<div class="counter-min-info">
									<h4 class="counter-min-heading">Years Of Experience</h4>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6 col-12 item">
							<div class="counter-min">
								<div class="counter-min-block">
									<div class="counter-min-ico">
										<i class="material-icons material-icons-outlined md-36">chat</i>
									</div>
									<div class="counter-min-numb spincrement" data-from="0" data-to="40">0</div>
								</div>
								<div class="counter-min-info">
									<h4 class="counter-min-heading">Consultans</h4>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6 col-12 item">
							<div class="counter-min">
								<div class="counter-min-block">
									<div class="counter-min-ico">
										<i class="material-icons material-icons-outlined md-36">assignment_ind</i>
									</div>
									<div class="counter-min-numb spincrement" data-from="0" data-to="160">0</div>
								</div>
								<div class="counter-min-info">
									<h4 class="counter-min-heading">Employers</h4>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-md-6 col-12 item">
							<div class="counter-min">
								<div class="counter-min-block">
									<div class="counter-min-ico">
										<i class="material-icons material-icons-outlined md-36">phonelink_setup</i>
									</div>
									<div class="counter-min-numb"><span class="spincrement" data-from="0" data-to="2">0</span>K</div>
								</div>
								<div class="counter-min-info">
									<h4 class="counter-min-heading">Apps Developed</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			

			<section class="section section-bgc">
				<div class="container">
					<div class="row items">
						<header class="col-12">
							<div class="section-heading heading-center">
								<div class="section-subheading">More info about</div>
								<h2>Nos formations</h2>
							</div> 
						</header>
						<div class="col-lg-4 col-md-6 col-12 item">
							<article class="news-item item-style">
								<a href="news-post.html" class="news-item-img el">
									<img data-src="img/news-img-1.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</a>
								<div class="news-item-info">
									<div class="news-item-date">07/01/2021</div>
									<h3 class="news-item-heading item-heading">
										<a href="news-post.html" title="Benefits Of Async/Await">Benefits Of Async/Await</a>
									</h3>
									<div class="news-item-desc">
										<p>Asynchronous functions are a good and bad thing in JavaScript.</p>
									</div>
								</div>
							</article>
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<article class="news-item item-style">
								<a href="news-post.html" class="news-item-img el">
									<img data-src="img/news-img-2.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</a>
								<div class="news-item-info">
									<div class="news-item-date">05/01/2021</div>
									<h3 class="news-item-heading item-heading">
										<a href="news-post.html" title="Key Considerations Of IPaaS">Key Considerations Of IPaaS</a>
									</h3>
									<div class="news-item-desc">
										<p>Digital transformation requires cloud appropriate adoption</p>
									</div>
								</div>
							</article>
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<article class="news-item item-style">
								<a href="news-post.html" class="news-item-img el">
									<img data-src="img/news-img-3.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
								</a>
								<div class="news-item-info">
									<div class="news-item-date">01/01/2021</div>
									<h3 class="news-item-heading item-heading">
										<a href="news-post.html" title="Hibernate Query Language">Hibernate Query Language</a>
									</h3>
									<div class="news-item-desc">
										<p>In this tutorial, we will discuss the Hibernate Query Language. </p>
									</div>
								</div>
							</article>
						</div>
						<footer class="section-footer col-12 item section-footer-animate">
							<div class="btn-group align-items-center justify-content-center">
								<a href="news.html" class="btn btn-with-icon btn-w240 ripple">
									<span>See All News</span>
									<svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="img/sprite.svg#arrow-right"></use></svg>
								</a>
							</div>
						</footer>
					</div>
				</div>
			</section>

		</div>

		
<!-- Footer-->

<%- include ('../partiel/footer') %>