<main class="main">
		
    <div class="main-inner">

        <!-- Begin mobile main menu -->
<nav class="mmm">
<div class="mmm-content">
    <ul class="mmm-list">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About us</a>
        </li>
        <li>
            <a href="/formation">Formations</a>
        </li>
       
        <li>
            <a href='/contacts'>Contacts</a>
        </li>
    </ul>
</div>
</nav><!-- End mobile main menu -->

<header class="header header-minimal">
<nav class="header-fixed">
    <div class="container">
        <div class="row flex-nowrap align-items-center justify-content-between">
            <div class="col-auto header-fixed-col logo-wrapper">
                <a href="/" class="logo" title="Albus">
                    <img src="img/logo.svg" width="400" height="400" alt="Albus">
                </a>
                <span class="logo-text">Albus</span>
            </div>
            <div class="col-auto col-xl col-static header-fixed-col d-none d-xl-block">
                <div class="row flex-nowrap align-items-center justify-content-end">
                    <div class="col header-fixed-col d-none d-xl-block col-static">
                        <!-- Begin main menu -->
<nav class="main-mnu">
<ul class="main-mnu-list">
    <li>
        <a href="/" data-title="Home">
            <span>Accueil</span>
        </a>
    </li>
    <li>
        <a href="/about" data-title="About us">
            <span>About us</span>
        </a>
    </li>
    <li>
        <a href="/formation" data-title="Formations">
            <span>Formations</span>
        </a>
    </li>
    
    <li>
        <a href='/contact-us' data-title="Contacts">
            <span>Contacts</span>
        </a>
    </li>
</ul>
</nav><!-- End main menu -->